@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #e5e5f7;
    background-image: radial-gradient(#ffd300 1.35px, #e5e5f7 1.35px);
    background-size: 27px 27px;
}